@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 2;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: #4d1f00;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

#intro {
    background-color: #ffe0cc;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #4d1f00;
}

h1 {
    text-align: center;
}

#intro h2 {
    font-weight: 1000;
}

a, h1, h2 {
    color: #4d1f00;
}

header, main {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-height: 500px;
    max-width: 300px;
    padding: 15px;
    border: 2px solid #4d1f00;
    display: block;
    margin: 40px auto;
}

.information {
    background-color: #ffa366;
    border: solid 1px #4d1f00;
    padding: 5px 15px;
    border-radius: 10px;
}
